.list-item {
  background-color: white;
  border-radius: 5px;
  margin-top: 1em;
  padding: 0.5em 1em; }
  @media (min-width: 768px) {
    .list-item {
      display: grid;
      grid-template-columns: 5fr 2.5fr 1fr;
      gap: 1em;
      align-items: center; } }
  .list-item a {
    font-size: 0.75rem;
    display: block; }
    @media (min-width: 768px) {
      .list-item a {
        text-align: right; } }
  .list-item .long-link {
    font-size: 0.6rem; }
    @media (min-width: 768px) {
      .list-item .long-link {
        text-align: left; } }
  .list-item .long-link {
    max-width: 100%;
    margin-left: 0; }
  .list-item button {
    margin: 0.5em;
    font-size: 0.75rem;
    width: 6rem; }
