header {
  margin-bottom: 8em;
  width: 100%; }

@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center; }
  header .header-image {
    order: 2; }
  header .header-text {
    order: 1;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 50%;
    text-align: left;
    padding-left: 2em;
    align-items: flex-start !important; } }

header .header-text {
  display: flex;
  flex-direction: column;
  align-items: center; }

header .header-text p {
  margin-bottom: 2em; }

header .header-image {
  transform: translateX(calc(100vw - 400px));
  margin-bottom: 2rem;
  max-width: 70rem;
  width: calc(100vw - 40px); }

@media (min-width: 768px) {
  header .header-image {
    margin-right: -5%;
    transform: none; } }

header .header-image img {
  width: 100%;
  height: auto; }
