.input-container {
  padding: 0 2em;
  transform: translateY(-4.5rem);
  max-width: 60rem;
  margin: 0 auto; }

.input-container button {
  border: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 0.5em 1.5em;
  height: fit-content;
  cursor: pointer; }

.input-container button:disabled {
  cursor: wait; }

@media (min-width: 768px) {
  .input-container button {
    width: fit-content; } }

.input-container .primary {
  background-color: var(--clr-primary-400); }

.input-container .primary:hover {
  color: white;
  background-color: var(--clr-primary-100); }

.input-container .secondary {
  background-color: var(--clr-primary-700); }

.input-container .secondary:hover {
  color: white; }
